canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}

.viewport-instructions {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	border-radius: 1em;
	margin: 2em;
	padding: 1em;
	width: 18em;
}

.viewport-data {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	border-radius: 1em;
	margin: 2em;
	padding: 1em;
	width: 7em;
	clear: both;
	float: right;
}